.shadow{
  opacity: 0.3;
}

#pattern{
  clip-path: url(#svgTextPath);
}

svg{
  left: -50px;
}

.penchuk{
  border: 1px dashed #ccccccd9;
  width: 300px;
  height: 200px;
}

.rect{
  transform: translate(0);
}

.bad{
  animation: bad 4s infinite;
}

@keyframes bad{
  0%{
      transform: rotate(0deg);
  }

  50%{
      transform: translateX(0%) rotateZ(-360deg);
  }

  70%{
      transform: translateX(50%) rotateZ(90deg);
  }

  100%{
    transform: translateX(0) rotateZ(0deg);
  }
}

.shadow{
  animation: shadow 4s infinite;
}

@keyframes shadow{
  0%{
      transform: rotate(0deg);
      opacity: 0.3;
  }

  50%{
      transform: translate(0%) rotateZ(-360deg);
      opacity: 0.3;
  }

  70%{
      transform: translateX(10%) rotateZ(90deg);
  }

  100%{
    transform: translateX(0) rotateZ(0deg);
  }
} 